<spinner-cube class="component-spinner" waitingFor="users-content"></spinner-cube>

<div class="panel-header">
    <img src="/userbook/avatar/{{user.id}}?thumbnail=100x100">
    <span>{{user.firstName}} {{user.lastName}}</span>
</div>

<div>
    <div class="panel-message" *ngIf="details?.blocked">
        <i class="fa fa-ban"></i>
        <s5l>user.blocked</s5l>
    </div>
    <div class="panel-message" *ngIf="isContextAdml()">
        <i class="fa fa-cog"></i>
        <s5l>adml.current.structure</s5l>
    </div>

    <user-info-section [user]="user" [structure]="structure"></user-info-section>
    <user-administrative-section [user]="user" [structure]="structure"></user-administrative-section>

    <panel-section section-title="users.details.section.relatives" [folded]="true">
    </panel-section>

    <panel-section section-title="users.details.section.functions" [folded]="true">
    </panel-section>

    <panel-section section-title="users.details.section.structures" [folded]="true" *ngIf="user?.structures.length > 1">
        <ul>
            <li *ngFor="let s of user?.structures">
                <a [routerLink]="['/admin', s.id]">{{ s.name }}</a>
            </li>
        </ul>
    </panel-section>

    <panel-section section-title="users.details.section.classes" [folded]="true" *ngIf="user?.allClasses.length > 0">
        <ul><li *ngFor="let c of user?.allClasses">{{ c.name }}</li></ul>
    </panel-section>

    <panel-section section-title="users.details.section.learning.groups" [folded]="true">
    </panel-section>

    <panel-section section-title="users.details.section.manual.groups" [folded]="true">
    </panel-section>
</div>