<html>

    <head>
        <title>{{#i18n}}admin.title{{/i18n}}</title>
        <meta charset="UTF-8">
        <base href="/">

        <link rel="stylesheet" type="text/css" href="{{#static}}styles/admin.css{{/static}}">

        <script src="https://use.fontawesome.com/8c8e7468d1.js"></script>

        <script src="{{#static}}js/polyfills.js{{/static}}"></script>
        <script src="{{#static}}js/vendor.js{{/static}}"></script>
    </head>

    <body>
        <admin-app>...</admin-app>

        <script src="{{#static}}js/admin.js{{/static}}"></script>
    </body>

</html>